<div id="{{ patternPartial }}" class="pl-c-pattern">

	<div class="pl-c-pattern__header">

		<h3 class="pl-c-pattern__title" data-patternpartial="{{ patternPartial }}">
			
			{{ patternName }}
			
			{{# patternState }}
				<span class="pl-c-pattern-state pl-c-pattern-state--{{ . }}">{{ . }}</span>
			{{/ patternState }}

			<i class="fa fa-link pl-c-pattern-shareLink"></i>

		</h3><!--end pl-c-pattern__title-->

		<div class="pl-c-pattern__desc">
			{{{ patternDesc }}}
		</div>
		
	</div><!--end pl-c-pattern__header-->

	<div class="pl-c-pattern__sampleWrapper">
		<div class="pl-js-pattern-example">
			{{{ patternPartialCode }}}
		</div><!--end pl-js-pattern-example-->

		<div class="pl-c-pattern__codeSection">
			<a class="title" href="#">HTML</a>
			<div class="content">
				<i class="fa fa-clipboard pl-c-pattern__codeClipboard"></i>
				<pre class="pl-js-pattern-example"><code>{{ patternPartialCode }}</code></pre><!--end pl-js-pattern-example-->
			</div>
		</div>
	</div>

</div><!--end pl-c-pattern-->